@value colors: "../../utils/colors.module.css";

@value primary, secondary from colors;


.HomeContainer {
  display: flex;
  height: auto;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 700px;
  overflow: hidden;
  padding: 1em;
  /*background-color: primary;*/
  background: none;
}

.HomeContainer > div {
  margin: 12px 0 0 12px;
}